<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.smartchoice.mappers.bigcategoryMapper">

	<select id="readBigCategory" resultType="BigCategoryDto">
		select * from bigcategory 
			<where>
				<if test ="big_num != null">big_num = #{big_num}</if>
			</where>
		order by big_num asc
	</select>
	
</mapper>