<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartchoice.mappers.boardMapper">
	<insert id="notice_register">
		insert into
		NOTICEBOARD(nboard_title,nboard_content,nboard_writer)
		values(#{nboard_title},#{nboard_content},#{nboard_writer})
	</insert>
	<select id="notice_read" resultType="NoticeBoardDto">
		select * from NOTICEBOARD
		where nboard_num=#{num}
	</select>

	<update id="notice_modify">
		update NOTICEBOARD set nboard_title=#{nboard_title},
		nboard_content=#{nboard_content}, nboard_writer=#{nboard_writer} where
		nboard_num=#{nboard_num}
	</update>

	<delete id="notice_remove">
		delete from NOTICEBOARD where nboard_num=#{num}
	</delete>

	<select id="notice_listAll" resultType="NoticeBoardDto">
		select * from NOTICEBOARD
		where nboard_num>0 order by nboard_regdate desc
	</select>

	<select id="notice_title_listSearch" resultType="NoticeBoardDto"
		parameterType="Map">
		select * from NOTICEBOARD where nboard_num>0 and
		nboard_title LIKE CONCAT('%',#{keyWord},'%') order by nboard_regdate
		desc
	</select>
	<!-- 
	<select id="notice_listCriteria" resultType="NoticeBoardDto">
		select * from
		NOTICEBOARD where nboard_num > 0 order by nboard_regdate limit
		#{pageStart}, #{perPageNum}

	</select>

	<select id="countPaging" resultType="int">
		select nboard_viewcnt from NOTICEBOARD where nboard_num > 0;
	</select>
 	-->

	<select id="notice_writer_listSearch" resultType="NoticeBoardDto"
		parameterType="Map">
		select * from NOTICEBOARD where nboard_num>0 and
		nboard_writer LIKE CONCAT('%',#{keyWord},'%') order by nboard_regdate
		desc
	</select>

	<select id="notice_content_listSearch" resultType="NoticeBoardDto"
		parameterType="Map">
		select * from NOTICEBOARD where nboard_num>0 and
		nboard_content LIKE CONCAT('%',#{keyWord},'%') order by nboard_regdate
		desc
	</select>

	<select id="notice_titlecontent_listSearch" resultType="NoticeBoardDto"
		parameterType="Map">
		select * from NOTICEBOARD where nboard_num>0 and
		nboard_title LIKE CONCAT('%',#{keyWord},'%') or
		nboard_content LIKE
		CONCAT('%',#{keyWord},'%') order by nboard_regdate desc
	</select>

	<insert id="notice_register_reply">
		insert into
		NOTICEBOARD_REPLY(nreply_content,nreply_nboardnum,nreply_memnum,nreply_memid)
		values(#{nreply_content},#{nreply_nboardnum},#{nreply_memnum},#{nreply_memid})
	</insert>

	<select id="read_reply" resultType="NoticeBoardReplyDto">
		select * from NOTICEBOARD_REPLY where nreply_nboardnum=#{num} order by nreply_regdate desc
	</select>

</mapper>
