<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartchoice.mappers.boardMapper">
	
	<!-- NoticeBoard Mapper -->
	
	<insert id="notice_register">
		insert into
		NOTICEBOARD(nboard_title,nboard_content,nboard_writer)
		values(#{nboard_title},#{nboard_content},#{nboard_writer})
	</insert>
	<select id="notice_read" resultType="NoticeBoardDto">
		select * from NOTICEBOARD
		where nboard_num=#{num}
	</select>

	<update id="notice_modify">
		update NOTICEBOARD set nboard_title=#{nboard_title},
		nboard_content=#{nboard_content}, nboard_writer=#{nboard_writer} where
		nboard_num=#{nboard_num}
	</update>

	<delete id="notice_remove">
		delete from NOTICEBOARD where nboard_num=#{num}
	</delete>	

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'nboard_title'">
				and nboard_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'nboard_content'">
				and nboard_content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'nboard_writer'">
				and nboard_writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'nboard_titlecontent'">
				and ( nboard_title like CONCAT('%', #{keyword}, '%') OR nboard_content like
				CONCAT('%', #{keyword}, '%'))
			</if>			
		</if>
	</sql>

	<select id="notice_listSearch" resultType="NoticeBoardDto" parameterType="SearchCriteria">
		<![CDATA[  
		  select * 
		  from NOTICEBOARD 
		  where nboard_num > 0 
		]]>

		<include refid="search"></include>
		  
		<![CDATA[    
		  order by nboard_regdate desc
		  limit #{pageStart}, #{perPageNum}
		]]>
	</select>

	<select id="notice_listSearchCount" resultType="int">
		<![CDATA[  
		  select count(nboard_viewcnt) 
		  from NOTICEBOARD 
		  where nboard_num > 0 
		]]>
		<include refid="search"></include>
	</select>	

	<insert id="notice_register_reply">
		insert into
		NOTICEBOARD_REPLY(nreply_content,nreply_nboardnum,nreply_memnum,nreply_memid)
		values(#{nreply_content},#{nreply_nboardnum},#{nreply_memnum},#{nreply_memid})
	</insert>

	<select id="read_reply" resultType="NoticeBoardReplyDto">
		select * from
		NOTICEBOARD_REPLY where nreply_nboardnum=#{num} order by
		nreply_regdate desc
	</select>
	
	<delete id="notice_remove_reply">
		delete from NOTICEBOARD_REPLY where nreply_num=#{nreply_num}
	</delete>	
	
	
	<!-- EventBoard Mapper -->
	
	<insert id="event_register">
		insert into
		EVENTBOARD(eboard_title,eboard_content,eboard_writer,eboard_start,eboard_end)
		values(#{eboard_title},#{eboard_content},#{eboard_writer},#{eboard_start},#{eboard_end})
	</insert>
	<select id="event_read" resultType="EventBoardDto">
		select * from EVENTBOARD
		where eboard_num=#{num}
	</select>

	<update id="event_modify">
		update EVENTBOARD set eboard_title=#{eboard_title},
		eboard_content=#{eboard_content}, eboard_writer=#{eboard_writer} where
		eboard_num=#{eboard_num}
	</update>

	<delete id="event_remove">
		delete from EVENTBOARD where eboard_num=#{num}
	</delete>

	<select id="event_listAll" parameterType="Map" resultType="EventBoardDto" >		
		<![CDATA[
		select * from EVENTBOARD where STR_TO_DATE(eboard_start,  '%Y/%m/%d') >= '${eboard_start}' and 
		STR_TO_DATE(eboard_end,'%Y/%m/%d') <= '${eboard_end}' order by eboard_regdate desc
		]]>
	</select>

	<insert id="event_register_reply">
		insert into
		EVENTBOARD_REPLY(ereply_content,ereply_eboardnum,ereply_memnum,ereply_memid)
		values(#{ereply_content},#{ereply_eboardnum},#{ereply_memnum},#{ereply_memid})
	</insert>

	<select id="event_read_reply" resultType="EventBoardReplyDto">
		select * from
		EVENTBOARD_REPLY where ereply_eboardnum=#{num} order by
		ereply_regdate desc
	</select>
	
	<delete id="event_remove_reply">
		delete from EVENTBOARD_REPLY where ereply_num=#{ereply_num}
	</delete>
	
	<sql id="event_search">
		<if test="searchType != null">
			<if test="searchType == 'eboard_title'">
				and eboard_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'eboard_content'">
				and eboard_content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'eboard_writer'">
				and eboard_writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'eboard_titlecontent'">
				and ( eboard_title like CONCAT('%', #{keyword}, '%') OR eboard_content like
				CONCAT('%', #{keyword}, '%'))
			</if>			
		</if>
	</sql>

	<select id="event_listSearch" resultType="EventBoardDto" parameterType="SearchCriteria">
		<![CDATA[  
		  select * 
		  from EVENTBOARD 
		  where eboard_num > 0 
		]]>

		<include refid="event_search"></include>
		  
		<![CDATA[    
		  order by eboard_regdate desc
		  limit #{pageStart}, #{perPageNum}
		]]>
	</select>

	<select id="event_listSearchCount" resultType="int">
		<![CDATA[  
		  select count(eboard_viewcnt) 
		  from EVENTBOARD 
		  where eboard_num > 0 
		]]>
		<include refid="event_search"></include>
	</select>	
	
</mapper>