<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartchoice.mappers.cardMapper">

	
	<select id="getCompanyList" resultType="CardDto">
		select * from company
	</select>
	
	<select id="getBigCategoryList" resultType="BigCategoryDto">
		select * from bigcategory
	</select>
	
	<select id="getSmallCategoryList" parameterType="int" resultType="SmallCategoryDto">
		select * from smallcategory where small_bignum = #{big_num}
	</select>
	
	<select id="getCardComp" resultType="CardDto">
		select * from company order by comp_num desc;
	</select>
	
	<select id ="getCardList" resultType="CardDto">
		select * from v_details_card where card_compnum = #{card_compnum}
	</select>

</mapper>