<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.smartchoice.mappers.categoryMapper">

	<select id="getAllSmallCategory" resultType="CategoryDto">
		select * from v_details_category
	</select>
	
	<select id="getSmallCategory" resultType="CategoryDto">
		select * from v_details_category where big_num=#{big_num}
	</select>
		
	<select id="getCategoryName" resultType="CategoryDto">
		select * from v_details_category where small_num=#{small_num}
	</select>
	
	<!-- 대분류 추가 160804_by.santori -->
	<insert id="insertBigCategory">
		insert into bigcategory(big_name) values(#{big_name});
	</insert>
	
	<!-- 대분류 수정 160804_by.santori -->
	<update id="updateBigCategory">
		update bigcategory set big_name=#{big_name} where big_num=#{big_num}
	</update>
	
	<!-- 소분류 추가 160804_by.santori -->
	<insert id="insertSmallCategory">
		insert into smallcategory(small_bignum, small_name) values(#{small_bignum}, #{small_name});
	</insert>
	
	<!-- 소분류 수정 160804_by.santori -->
	<update id="updateSmallCategory">
		update smallcategory set small_name=#{small_name} where small_num=#{small_num}
	</update>
</mapper>