<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartchoice.mappers.memberMapper">

	<insert id="regiMember" parameterType="MemberDto">
		insert into member(mem_level, mem_email, mem_pw, mem_fav1, mem_fav2, mem_fav3, mem_id,mem_birthdate
		,mem_cardcode)
		values(#{mem_level}, #{mem_email}, #{mem_pw}, #{mem_fav1}, #{mem_fav2}, #{mem_fav3}, #{mem_id},#{mem_birthdate},
		#{mem_cardcode})
	</insert>
	
	<select id="getMemberList" resultType="MemberDto">
		select * from v_details_member;
	</select>
	
	<select id="getMember" resultType="MemberDto">
		select * from v_details_member where mem_id = #{mem_id} and mem_pw =#{mem_pw}
	</select>
	
	<select id ="getMemberWithId" resultType="MemberDto">
		select * from v_details_member where mem_id = #{mem_id}
	</select>
	
	<update id="updateMember">
		update member 
		    <set>
		      <if test="mem_fav1 != null">mem_fav1=#{mem_fav1},</if>
		      <if test="mem_fav2 != null">mem_fav2=#{mem_fav2},</if>
		      <if test="mem_fav3 != null">mem_fav3=#{mem_fav3},</if>
		      <if test="mem_cardcode != null">mem_cardcode=#{mem_cardcode},</if>
		      <if test="mem_pw != null">mem_pw=#{mem_pw},</if>
		      <if test="mem_email != null">mem_email=#{mem_email}</if>
   			</set>
		 where mem_num = #{mem_num}
	</update>
	
	<delete id ="deleteMember">
		delete from member where mem_id = #{mem_id}
	</delete>
	
	<select id ="searchId" resultType="String">
		select mem_id from member where mem_email = #{mem_email}
	</select>
	
	<select id ="searchPw" resultType="String">
		select mem_pw from member where mem_id =#{mem_id} and mem_email =#{mem_email}
	</select>
	
	<update id="updatePw">
		update member set mem_pw =#{mem_pw} where mem_id =#{mem_id}
	</update>
	
	<select id ="getViewListMember" resultType="MemberDto">
		select * from v_details_member
			<where>
				<if test="comp_num != null">comp_num = #{comp_num}</if>
				<if test="mem_fav != null">mem_fav1 = #{mem_fav} or mem_fav2= #{mem_fav} or mem_fav3 = #{mem_fav}</if>
			</where>
	</select>
	
	<select id ="getMemberCount" resultType="int">
		select count(mem_id) from member
			<where>
				<if test="mem_fav != null">mem_fav1 = #{mem_fav} or mem_fav2= #{mem_fav} or mem_fav3 = #{mem_fav}</if>
			</where>
	</select>
</mapper>