<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartchoice.mappers.memberMapper">

	<insert id="regiMember" parameterType="MemberDto">
		insert into member(mem_level, mem_email, mem_pw, mem_fav1, mem_fav2, mem_fav3, mem_id,
		mem_cardcode)
		values(#{mem_level}, #{mem_email}, #{mem_pw}, #{mem_fav1}, #{mem_fav2}, #{mem_fav3}, #{mem_id},
		#{mem_cardcode})
	</insert>
	
	<select id="getMemberList" resultType="MemberDto">
		select * from v_details_member;
	</select>
	
	<select id="getMember" resultType="MemberDto">
		select * from v_details_member where mem_id = #{mem_id} and mem_pw =#{mem_pw}
	</select>
	
	<select id ="getMemberWithId" resultType="MemberDto">
		select * from v_details_member where mem_id = #{mem_id}
	</select>
	
	<update id="updateMember">
		update member set mem_fav1 =#{mem_fav1}, mem_fav2 = #{mem_fav2}, mem_fav3 = #{mem_fav3}
		 , mem_cardcode = #{mem_cardcode} where mem_num = #{mem_num}
	</update>
	
	<delete id ="deleteMember">
		delete from member where mem_num = #{mem_num}
	</delete>
	
	<select id ="searchId">
		select mem_id from member where mem_email = #{mem_email}
	</select>
	
</mapper>